<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.colg.dao.DepartmentMapper">

	<select id="findById" resultType="cn.colg.entity.Department">
		SELECT dd.id, dd.dept_name 'departmentName'
		FROM tbl_dept dd
		WHERE dd.id = #{id}
	</select>

</mapper>