<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.colg.dao.DeptMapper">

	<sql id="all_fields">
		d.deptno, d.deptname, d.dbsource
	</sql>

	<insert id="addDept">
		INSERT INTO dept(deptname, dbsource) VALUES(#{dept.deptName}, DATABASE())
	</insert>
	
	<select id="findById" resultType="cn.colg.entity.Dept">
		SELECT <include refid="all_fields" />
		FROM dept d
		WHERE d.deptno = #{id}
	</select>
	
	<select id="queryAll" resultType="cn.colg.entity.Dept">
		SELECT <include refid="all_fields" />
		FROM dept d
	</select>
	
</mapper>