<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.colg.dao.EmployeeMapper">

    <select id="selectAll" resultType="cn.colg.entity.Employee">
        SELECT
            te.id, te.last_name, te.gender, te.email, te.dept_id
        FROM
            tbl_employee te
    </select>

</mapper>