<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="phone" class="cn.colg.bean.Phone">
        <property name="name" value="oppo" />
        <property name="color" value="green" />
        <property name="age" value="2" />
        <property name="maps">
            <map>
                <entry key="k1" value="v1" />
                <entry key="k2" value="v2" />
            </map>
        </property>
        <property name="lists">
            <list>
                <value>Jack</value>
                <value>Rose</value>
            </list>
        </property>
    </bean>
    
</beans>
