<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.colg.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="cn.colg.model.Users">
    <!--
      WARNING - @mbg.generated
    -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="locked" jdbcType="CHAR" property="locked" />
    </resultMap>
    
    <select id="findPasswordBuUserName" resultType="String">
        SELECT
            u.password
        FROM
            users u
        WHERE u.username = #{username} AND u.locked = '0'
    </select>
    
    <select id="selectRolesByUserName" resultType="String">
        SELECT
            ur.role_name
        FROM
            user_roles ur
        WHERE ur.username = #{username}
    </select>
    
    <select id="selectPermissionsRoles" resultType="String">
        SELECT
            rp.permission
        FROM
            roles_permissions rp
        WHERE rp.role_name IN (
            <foreach collection="roles" item="roleName" separator=",">
                #{roleName}
            </foreach>
        )
    </select>
</mapper>